@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.background {
  /* background: center no-repeat url(background.png); */
  background-color: #009688;
}

.logo {
  background: #009688 center no-repeat url('https://raw.githubusercontent.com/lawloretienne/Loop/master/images/cast_logo.png');
}

.progressBar {
  background-color: #ff4081;
}

.splash {
  background: #009688 center no-repeat url('https://raw.githubusercontent.com/lawloretienne/Loop/master/images/cast_splash_5.png');
}

/*
.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}
*/