@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.background {
  /* background: center no-repeat url(background.png); */
  /* background-color: #009688; */
  background-color: #0000ff;
}

.logo {
  background-image: url('https://raw.githubusercontent.com/lawloretienne/Loop/master/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png');
}

.progressBar {
  /* background-color: rgb(238, 255, 65); */
  background-color: #ff4081
}

.splash {
  /* background-image: url(splash.png); */
  /* background-color: #009688; */
  background-color: #ff0000;
}

/*
.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}
*/