@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.background {
  /* background: center no-repeat url(background.png); */
  background-color: #009688;
}

/*
.logo {
  background-image: url(logo.png);
}
*/

.progressBar {
  /* background-color: rgb(238, 255, 65); */
  background-color: #ff4081
}

.splash {
  /* background-image: url(splash.png); */
  background-color: #009688;
}

/*
.watermark {
  background-image: url(watermark.png);
  background-size: 57px 57px;
}
*/